[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "config/mpv/scripts/mpvSockets"]
	path = config/mpv/scripts/mpvSockets
	url = https://github.com/wis/mpvSockets.git
[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:floatingman/neovim
[submodule "emacs.d"]
	path = emacs.d
	url = git@github.com:floatingman/systemcrafteremacs
[submodule "tag-linux-gui/config/mpv/scripts/mpv-reload"]
	path = tag-linux-gui/config/mpv/scripts/mpv-reload
	url = https://github.com/4e6/mpv-reload
