# Ignore tmux plugins, except Tmux Plugin Manager
tmux/plugins/*
!tmux/plugins/tpm
!tmux/plugins/tmux-urlview

# Ignore tmux resurrection
tmux/resurrect/*

# Ignore rofi-pass past password used
config/rofi-pass/last_used

# Ignore ranger stuff
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged

# Ignore weechat logs
weechat/gs/
weechat/xfer/
weechat/logs/
weechat/script/*gz
weechat/plugins/wnot.so
weechat/*.log
weechat/urlserver_list.txt
weechat/sec.conf
weechat/slack.cache

# Ignore vimperator's info directory
vimperator/info

# Ignore neovim plugged files
config/nvim/plugged/
config/nvim/autoload/plug.vim
tag-macos/config/ubersicht/widgets/mini-system-charts.widget/assets/network.db

# Vim Temp Files #
##################
vim/backups/*
!vim/backups/.keep
vim/undos/*
!vim/undos/.keep
vim/swaps/*
!vim/swaps/.keep
