[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "config/mpv/scripts/mpvSockets"]
	path = config/mpv/scripts/mpvSockets
	url = https://github.com/wis/mpvSockets.git
[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:floatingman/neovim
[submodule "emacs.d"]
	path = emacs.d
	url = git@github.com:floatingman/systemcrafteremacs
[submodule "tag-linux-gui/config/mpv/scripts/mpv-reload"]
	path = tag-linux-gui/config/mpv/scripts/mpv-reload
	url = https://github.com/4e6/mpv-reload
[submodule "config/base16-shell"]
	path = config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "config/ranger/plugins/ranger-archives"]
	path = config/ranger/plugins/ranger-archives
	url = https://github.com/maximtrp/ranger-archives.git
[submodule "config/ranger/plugins/ranger_devicons"]
	path = config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
